---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1>Colegas Gamers Web Comic Blog</h1>

  <div class="inicio">
    <h2>Bienvenidos</h2>
    <p>
      este es un proyecto con todo lujo de detalles de una aplicación web de uno
      de mis comics que hice en el instituto. <span class="bold"
        >Colegas Gamers</span
      >. esto es un experimento de muestra de mis dominios de html, css y
      javascript con el framework astro.
    </p>
  </div>
</Layout>

<style>
  .inicio {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--background-a);
    margin: 0 auto;
    padding: 1.3rem;
    width: 60%;
  }
</style>
