---

---

<div class="gallery">
  <div class="marco">
    <div class="marco__button">
      <button class="gallery__button gallery__button--prev" id="prev"
        >Prev</button
      >
      <div class="separador"></div>
      <button class="gallery__button gallery__button--next" id="next"
        >Next</button
      >
    </div>
    <img class="gallery__image" />
  </div>
  <p id="count"></p>
</div>

<style>
  p {
    color: var(--white);
    font-size: larger;
    padding: 0.8rem;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  .gallery__image {
    width: 100%;
  }
  .marco {
    position: relative;
    width: 80%;
    height: 80%;
  }
  .marco__button {
    position: absolute;
    left: -10%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 120%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    button {
      margin: 1rem;
      padding: 1.2rem;
      border-radius: var(--border-radius);
      background-color: var(--primary);
      border: none;
      color: var(--white);
      cursor: pointer;
    }
  }

  .marco__button:hover {
    opacity: 1;
    left: 0;
    width: 100%;
  }

  @media (max-width: 768px) {
    .marco {
      width: 100%;
      height: 100%;
    }
  }
</style>

<script>
  const image = document.querySelector(".gallery__image");
  const next = document.querySelector("#next");
  const prev = document.querySelector("#prev");
  const count = document.querySelector("#count");

  const comics = [
    { title: "Piloto", image: "/web/comics/001.png" },
    { title: "El PC del Futuro", image: "/web/comics/002.jpg" },
    { title: "La Dama Imposible", image: "/web/comics/003.jpg" },
    { title: "Ritmos Armoniosos", image: "/web/comics/004.jpg" },
  ];

  let index = 0;

  function update() {
    image.src = comics[index].image;
    image.alt = comics[index].title;
    count.innerHTML = `${index + 1}/${comics.length}`;
  }

  count.innerHTML = `${index + 1}/${comics.length}`;

  function nextComic() {
    index = (index + 1) % comics.length;
    update();
  }

  function prevComic() {
    index = (index - 1 + comics.length) % comics.length;
    update();
  }

  next?.addEventListener("click", nextComic);
  prev?.addEventListener("click", prevComic);

  image.src = comics[index].image;
  image.alt = comics[index].title;
</script>
