---

---

<footer>
  <a href="https://github.com/NitroXen">Mi Github</a>
</footer>

<style>
  footer {
    margin: 3rem;
    background-color: var(--tertiary);
    border-radius: var(--border-radius);
    padding: 2rem;
    text-align: center;
  }

  footer a {
    text-decoration: none;
    color: var(--primary);
  }
</style>
